lab 5(real estate management XML)/realEstate.dtd

<!ELEMENT tenants (tenant+)>
<!ELEMENT tenant (id,name,contact,email,rent,securityDepo,type,leaseTerm)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT contact (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT securityDepo (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT leaseTerm (#PCDATA)>
<!ATTLIST id id ID #REQUIRED>